* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    height: 0;
    margin: 0;
    padding: 0;
}

body {
    background: #678aad;
    font-family: 'calibri';
}

.carousel {
            max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
            margin: 100px auto; /* Centra el carrusel horizontalmente */
            
            
}

.carousel-item img {
    max-height: 400px; /* Ajusta la altura máxima de las imágenes según tus necesidades */
    object-fit: cover; /* Ajusta la forma en que la imagen cubre el contenedor */
}

@media(max-width:768px) {
    .carousel {
        z-index: -1;;
    }
}