:root {
    --bg-color: #678aad:;
    --hd-color: #242526
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #678aad;
}

li {
    margin: 5px;
}

p {
    display: inline;
}
.header {
    width: 100%;
    height: 80px;
    background-color: #242526;
    padding: 0 60px 0 70px;
    position: relative;
    
}
    

#main-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    padding: 5px;
    max-width: fit-content;
}

#nav-links {
    display: flex;
    justify-content: end;
    font-size: 18px;
    list-style: none;
    gap: 25px;
}