
.top-banner {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 250px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.container input {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

button {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.ajax-section .cities {
    display: grid;
    grid-gap: 30px 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: -50px;
}

.ajax-section .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
}

  .ajax-section .city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
}
  
  .ajax-section .city sup {
    font-size: 0.5em;
  }
  
  .ajax-section .city-name sup {
    padding: 0.2em 0.6em;
}
  
  .ajax-section .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
  
  @media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
      .ajax-section .cities{
          grid-template-columns: 1fr 1fr;
      }
  }   
  @media (max-width: 767px) {
    .ajax-section .cities{
        grid-template-columns: 1fr;
    }
}

  
  
  