* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #678aad;
    font-family: 'calibri';
}

.top-banner {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

h1 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}

.container input {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

button {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
}

.ajax-section .cities {
    display: grid;
    grid-gap: 30px 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
}

.ajax-section .city {
    width: 160px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

  .ajax-section .city-temp {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}
  
  .ajax-section .city sup {
    font-size: 10px;
  }
  
  .ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    text-align: center;
}
  
.ajax-section .city-icon {
    width: 50px;

}
  
  @media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {
      .ajax-section .cities{
          grid-template-columns: 1fr 1fr;
      }
  }   
  @media (max-width: 767px) {
    .ajax-section .cities{
        grid-template-columns: 1fr;
    }
}

  
  
  