header {
    width: 100%;
    height: 80px;
    background-color: #242526;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.navbar-logo img{
    display: block;
    width: 120%;
    height: auto;
	background-color: #242526;
  }


.bars {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    background-color: #363738;
}

@media(max-width:900px) {
    header {
        padding: 0px 30px;
    }
    .bars {
        display: block;
        cursor: pointer;
    }
    .bars .line {
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin: 6px 0px;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0px;
        right: 0;
        width: 100vw;
        transition: 0.5s;
        background-color: #242526;
        overflow: hidder;
    }
    .nav-bar.active {
        height: 450px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin:  80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 20px;
    }
}